{{> header}}
<h2>{{viewTitle}}</h2>
<form action="/customer" method="POST">
    <input type="hidden" name="_id" value="{{customer._id}}" />
    Nombre 
    <input type="text" name="nombre" value="{{customer.name}}"><br />
    Apellido
     <input type="text" name="apellido" value="{{customer.name}}"><br />
    Email
     <input type="text" name="email" value="{{customer.name}}"><br />
    CreateDate
     <input type="text" name="createdate" value="{{customer.name}}"><br />
    LastUpdate
    <input type="text" name="lastupdate" value="{{customer.description}}"><br />
    <button type="submit">Guardar</button>
</form>