{{> header}}
<div class="container">
    <h2 style="text-align:center; margin:10px;">{{viewTitle}}</h2>

    <div class="row">
        
        <div class="col-md-3">

        </div>
        <div class="col-md-6">
            <form action="/customer" method="POST">
                <div class="row">
                <div class="col-md-6">
                Customer Id 
                <input type="text " class="form-control" name="customer_id" value="{{customer.customer_id}}">
                    </div>
                    <div class="col-md-6">
                    Store Id 
                    <input type="text" class="form-control" name="store_id" value="{{customer.store_id}}">
                    </div>
                </div>
                <input type="hidden" name="_id" value="{{customer._id}}" />


                Nombre 
                <input type="text" class="form-control" name="first_name" value="{{customer.first_name}}">
                Apellido
                <input type="text" class="form-control" name="last_name" value="{{customer.last_name}}">
                Email 
                <input type="text" class="form-control" name="email" value="{{customer.email}}">
                Dirección Id 
                <input type="text" class="form-control" name="address_id" value="{{customer.address_id}}">
                <div class="row">
                    <div class="col-md-4">
                    Active 
                    <input type="text" class="form-control" name="active" value="{{customer.active}}">
                    </div>
                    <div class="col-md-4">
                    Create Date
                    <input type="date" class="form-control" name="create_date" value="{{customer.create_date}}">    
                    </div>
                    <div class="col-md-4">
                    Last Update
                    <input type="date" class="form-control" name="last_update" value="{{customer.last_update}}">
                    </div>
                </div><hr>



                <button type="submit" class="btn btn-primary" style="width: 100%; border-radius: 50px;">Save</button>
            </form>


        </div>
    </div>
</div>
