{{> header}}
<h2>{{viewTitle}}</h2>
<table border="1">
    <thead>
        <th>Nombre</th>
        <th>Apellido</th>
        <th></th>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a href="/customer/{{this._id}}">Edit</a>
                    <a href="/customer/delete/{{this._id}}"
                    onclick="return confirm('Desea eliminar el registro?');">
                    Eliminar
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>